node_modules
.pnpm-store
.turbo
.next
dist
build
coverage
.git
.github
.cursor
.vscode
.idea
**/.env
**/.env.local
**/.env.*
!**/.env.example
!**/.env*.example
*.log
*.tmp
*.tsbuildinfo
apps/web-merchant/.next
apps/web-admin/.next
apps/*/dist
docs
**/*.md
!packages/**/README.md
